@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face {
    font-family: 'Raleway Medium';
    src: url(Raleway/static/Raleway-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:inherit;
    text-decoration: none;
    list-style: none;
    color: rgb(187, 187, 187);
    font-family: 'Montserrat', sans-serif;

    
}

body{
    width: 100%;
    
}

/* ***********************************NAVBAR******************************** */

.navigation {
    padding:10px 100px;
    display: flex;
    align-items: center;  
    background-color: #4b5e65 ; 
}

.logo-lien {
    margin-right: auto;

}

.logo-image {
    width: 300px;
    height: auto;
}

.nav-lien:link,
.nav-lien:visited {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 600;
    display: inline-block;
    width: 100px;
    text-align: center;
    transition: all .4s;
    font-size: 16px;
    color: #f1f1f1;
    font-weight: 500;
    

}
.nav-lien:not(:last-child){
    border-right: 1px solid #f1f1f1;;

}
.nav-lien:hover {
    background-color: #f1f1f1;
    color: #4b5e65;
}

@media only screen and (max-width: 1100px){
    .nav-lien:link,
    .nav-lien:visited {
        padding: 10px;
    }

    .navigation {
        padding: 10px 50px;
    }

    .logo-image {
        width: 300px;
    }
}
@media only screen and (max-width: 800px){
    .navigation{
        flex-direction: column;
    }
    .logo-lien{
        margin-right: 0;
    }
    .logo-image{
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 650px){
    .nav-lien:link,
    .nav-lien:visited {
        display: block ;
    }

    .nav-lien:not(:last-child){
        border-right: none;
        border-bottom: 1px solid #f1f1f1;

    }
    
}

/* *********************************************************************************SECTION****************************************************************** */

section.aboutMe{
    width: 80%;
    height: auto;
    margin: auto;
    transform: translate(0,8%);
    
    
}

.big-title{
    font-size: 4rem;
    margin-top: 15px;
    font-family: 'Raleway Medium';
    color: #44566c;
}

.big-title span{
    color: #4b8ca3;
    font-family: 'Raleway Medium';
}

.imageAbout{
    width: 100%;
    height: 50vh;
    min-height: 500px;
    background-repeat: no-repeat;
    margin: 40px 0;
}

.abouth2{
    font-family: 'Raleway Medium';
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
}

.aboutMeContent{
    width: 55%;
    min-width: 700px;
    height: auto;
    min-height: 400px;
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12%;
}

.firstBloc{
    max-width: 400px;
    height: 70%;
    padding-right: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstBloc h1{
    color: #4b8ca3;
    font-size: 4rem;
    font-family: 'Raleway Medium';
}

.firstBloc h1 span{
    color:#44566c ;
    font-family: 'Raleway Medium';
}

.firstBloc p{
    font-family: 'Raleway Medium';
    font-weight: 100;
    line-height: 35px;
    margin-top: 40px;
}

.firstBloc button{
    background-color: #4b8ca3;
    border: none;
    padding: 10px 20px;
    color: white;
    margin: 40px 0;
    font-family: 'Raleway Medium';
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid #4b8ca3;
    transition: all .5s;
}

.firstBloc button:hover{
    background-color: white;
    color:#4b8ca3;;
}

.secondBloc{
    display: flex;
    position: relative;
    
}
.secondBloc img{
    z-index: 999;
}

.thirdBloc{
    box-shadow: 0px 0px 10px 1px ;
    width: 500px;
    height: 300px;
    position: absolute;
    bottom: -10%;
    left: 80%;
    
   
}

.thirdBlocCContainer{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 80%;
    transform: translate(0,7%);
}

.thirdBloc .guillemet{
    margin-left: 15%;
    font-family:  'Arial, Helvetica', sans-serif;
    font-size: 3rem;
}

.thirdBloc p{
    margin-left: 17%;
    line-height: 30px;
    color: grey;
}

.thirdBloc .description{
    margin-left:17% ;
    color: #4b8ca3;
    font-size: 0.9rem;
}

























/* *********************************************************************************RESPONSIVE******************************************************************* */


@media (max-width:1500px){
    .aboutMeContent{
        margin: 40px 0px;
    }
}

@media (max-width:1325px){
    .aboutMeContent{
        min-height: 450px;
        margin: 40px auto;
        flex-direction: column;
        padding-bottom: 12%;
        align-items: initial;
    }

    .firstBloc{
    padding-right: initial;
    text-align: center;
    margin: auto;
    }

    .secondBloc{
        display: flex;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        
    }

    .thirdBloc{
        box-shadow: 0px 0px 10px 1px ;
        width: 500px;
        height: 300px;
        position: absolute;
        bottom: -10%;
        left: 27%;
        
       
    }
}

@media (max-width:875px){
    .secondBloc{
        display: flex;
        position: relative;
        margin: 120px auto 300px auto;
        
    }

    .thirdBloc{
        box-shadow: 0px 0px 10px 1px ;
        width: 500px;
        height: 300px;
        position: absolute;
        bottom: -65%;
        left: -57%;
        
       
    }
    .aboutMeContent{
        min-width: initial;
        width: 80%;

    }
    section.aboutMe{
        transform: translate(0,2%);
    }
}
@media (max-width:550px){
    .thirdBloc{
        box-shadow: 0px 0px 10px 1px ;
        width: 300px;
        height: 500px;
        position: absolute;
        bottom: -120%;
        left: -14%;
        
       
    }
    .aboutMeContent{
        min-width: initial;
        width: 95%;

    }
    
    .thirdBlocCContainer{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 80%;
        transform: translate(0,7%);
    }
    .secondBloc{

        margin: 120px auto 500px auto;
        
    }
    
}


























