@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;

}
a:visited{
    color: #122448;
}

nav{
    height: 70px;
}
.container_navbar{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 400px;
    
}
nav a {
    display: inline-block;
    position: relative;
    color: #122448;
  }
  
  nav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffb34d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  nav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

nav img{
    height: 80%;
}



@media (max-width:750px){
    nav{
        height: 110px;
    }
    .container_navbar{
        flex-direction: column;
        height: 90%;
        transform: translate(0,10%);
    }
    nav img{
        height: 60px;
    }
    nav ul{
        width: 300px;
    }
}