@font-face {
    font-family: 'Raleway Medium';
    src: url(../Raleway-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Raleway Medium';
    list-style: none;
    text-decoration: none;
    color: #333;
}

/* **********************************************************************NAVBAR*************************************************** */

.navigation {
    padding:10px 100px;
    display: flex;
    align-items: center;  
    background-color: #4b5e65 ; 
}

.logo-lien {
    margin-right: auto;

}

.logo-image {
    width: 300px;
    height: auto;
}

.nav-lien:link,
.nav-lien:visited {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 600;
    display: inline-block;
    width: 100px;
    text-align: center;
    transition: all .4s;
    font-size: 16px;
    color: #f1f1f1;
    font-weight: 500;
    

}
.nav-lien:not(:last-child){
    border-right: 1px solid #f1f1f1;;

}
.nav-lien:hover {
    background-color: #f1f1f1;
    color: #4b5e65;
}

@media only screen and (max-width: 1100px){
    .nav-lien:link,
    .nav-lien:visited {
        padding: 10px;
    }

    .navigation {
        padding: 10px 50px;
    }

    .logo-image {
        width: 300px;
    }
}
@media only screen and (max-width: 800px){
    .navigation{
        flex-direction: column;
    }
    .logo-lien{
        margin-right: 0;
    }
    .logo-image{
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 650px){
    .nav-lien:link,
    .nav-lien:visited {
        display: block ;
    }

    .nav-lien:not(:last-child){
        border-right: none;
        border-bottom: 1px solid #f1f1f1;

    }
    
}

/* ******************************************************************* */

h1, h1 span{
    color: #44566c;
    font-size: 4rem;
    text-align: center;
    margin-top: 30px;
}

h1 span{
    color: #4b8ca3;
}

.bigP{
    width: 35%;
    margin: 20px auto;
    text-align: center;
    font-weight: 100;
    line-height: 35px;
    margin-top: 40px;
    color: rgb(187, 187, 187);
}

.flexCart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin: 50px auto;
    width: 70%;
}

.Cart{
    width: 250px;
    height: 40vh;
    min-height: 300px;
    box-shadow: 0px 0px 20px 1px #44566c;
    position: relative;
    transition: all .2s;
}

.Cart:hover{
    filter: blur(2px);
}

.Cart p{
    position: absolute;
    top: 44%;
    left: 23%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: italic;
    color: #4b8ca3;
}







@media screen and (max-width:1500px) {
    .flexCart{
        width: 90%;
    }
    .bigP{
        width: 50%;
    }
    .Cart{
        width: 230px;
    }
}

@media screen and (max-width:1200px) {

    .bigP{
        width: 50%;
    }
    .Cart{
        width: 230px;
        min-height: 290px;
        width: 240px;
    }
}

@media screen and (max-width:1100px){
    .flexCart{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a b" "c d";
        width: 550px;
        

    }
    .Cart:nth-child(1){
        grid-area: a;
    }
    .Cart:nth-child(2){
        grid-area: b;
    }
    .Cart:nth-child(3){
        grid-area: c;
    }
    .Cart:nth-child(4){
        grid-area: d;
    }

    .Cart{
        height: 300px;
        min-height: initial;
        margin: 20px auto;

    }
    .bigP{
        width:70%;
    }
}

@media  (max-width:800px) {
    .flexCart{

        height: 82vh;
        

    }
}

@media  (max-width:700px){
    .flexCart{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "a" "b" "c" "d";
        height: 1150px;
        width: 80%;
        position: relative;
        

    }
    .Cart{
        height: 250px;
        width: 250px;
        min-height: initial;
    }
    .bigP{
        width: 95%;
    }

}   
