@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* **********************************************************************NAVBAR*************************************************** */

nav a:visited{
    color: #122448;
}

nav{
    height: 70px;
}

.navbarContainer{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

nav a.no-active{
    display: inline-block;
    position: relative;
    color: #122448;
}
  
nav a.no-active:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffb34d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
nav a.no-active:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav img{
    height: 80%;
}

nav .is-active{
    text-decoration: underline 2px #ffb34d;
}
/* ********************************************************MSG-UPPER-BODY******************************************* */

.msg-upperBody{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    writing-mode: vertical-lr;
    color: rgb(255, 36, 36);
    font-size: 0.7rem;
    transform: translate(0,100%);
}


/* *******************************************************************************CONTENT************************************************ */

section{
    width: 80%;
    height: 40vh;
    min-height: 300px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0,70%);
    box-shadow: 0px 0px 15px 1px #333;
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contentContainer{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

article{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hr{
    height: 90%;
    width: 2px;
    background-color: #ffb34d;
}

h1{
    font-size: 2.4rem;
    font-weight: bold;
    font-style: italic;
    color: #333;
}

p{
    font-style: italic;
    line-height: 25px;
    color: #122448;
}

button{
    width: 160px;
    color: #f2f2f2;;
    border: none;
    background-color: #008379;
    padding: 10px;
    border-radius: 8px;
    transition: .4s;
    font-size: 15px;
    cursor: pointer;
    margin: 0 auto;
}

button:hover{
    background-color: #F8F8FF;
    color: #008379;
    transition: .4s;
}

/* **********************************************************************************RESPONSIVE******************************************************** */

@media screen and (max-width:1600px) {
    
    p{
        font-size: 15px;
    }
}

@media screen and (max-width:1400px) {
    .contentContainer{
        width: 95%;
    }
    
}

@media screen and (max-width:1300px) {
    section{
        width: 40%;
        height: 90vh;
        min-height: 800px;
        transform: initial;
        margin: 50px 0;
    }
    .contentContainer{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .hr{
        height: 1.8px;
        width: 80%;
    }
    article{
        height: 28%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    
}

@media screen and (max-width:900px){
    section{
        width: 50%;
        height: 120vh;
    }
    .contentContainer{
        height:95%;
    }
    br{
        display: none;
    }
    h1{
    font-size: 2rem;
    }
}

@media (max-width:750px){
    nav{
        height: 110px;
    }
    .navbarContainer{
        flex-direction: column;
        height: 90%;
        transform: translate(0,10%);
    }
    nav img{
        height: 60px;
    }
    nav ul{
        width: 300px;
    }
}

@media screen and (max-width:700px){
    section{
        width: 70%;
    }
}

@media (max-width:500px){

    h1{
        font-size: 1.55rem;
    }

    p{
        font-size: 0.85rem;
        margin-top: 20px;
    }

    section{
        text-align: center;   
    }

    button{
        margin: auto;
    }
}

@media screen and (max-width:400px) {
    section{
        width: 80%;
    }
    
}

/* **********************VERTICAL-ALIN PROB********************************** */

@media screen and (max-height:750px) and (min-width:1300px) {

    section{
        transform: translate(0,50%);
    }
    
}

@media screen and (max-height:600px) and (min-width:1300px){
    section{
        transform: translate(0,30%);
    }
    
}

@media screen and (max-height:500px) and (min-width:1300px){
    section{
        transform: translate(0,20%);
    }
    
}

@media screen and (max-height:400px) and (min-width:1300px){
    section{
        transform: translate(0,10%);
    }
    
}

@media screen and (min-height:750px) and (max-width:900px){
    p{
        line-height: 30px;
    }
}
