@font-face {
    font-family: 'Raleway Medium';
    src: url(../Raleway-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Raleway Medium';
    text-decoration: none;
    list-style: none;
}

/* **************************************************************NAVBAR************************************************************* */

.navigation {
    padding:10px 100px;
    display: flex;
    align-items: center;  
    background-color: #4b5e65 ; 
}

.logo-lien {
    margin-right: auto;

}

.logo-image {
    width: 300px;
    height: auto;
}

.nav-lien:link,
.nav-lien:visited {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 600;
    display: inline-block;
    width: 100px;
    text-align: center;
    transition: all .4s;
    font-size: 16px;
    color: #f1f1f1;
    font-weight: 500;
    

}
.nav-lien:not(:last-child){
    border-right: 1px solid #f1f1f1;;

}
.nav-lien:hover {
    background-color: #f1f1f1;
    color: #4b5e65;
}

@media only screen and (max-width: 1100px){
    .nav-lien:link,
    .nav-lien:visited {
        padding: 10px;
    }

    .navigation {
        padding: 10px 50px;
    }

    .logo-image {
        width: 300px;
    }
}
@media only screen and (max-width: 800px){
    .navigation{
        flex-direction: column;
    }
    .logo-lien{
        margin-right: 0;
    }
    .logo-image{
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 650px){
    .nav-lien:link,
    .nav-lien:visited {
        display: block ;
    }

    .nav-lien:not(:last-child){
        border-right: none;
        border-bottom: 1px solid #f1f1f1;

    }
    
}

/* *******************************************************************SECTION**************************************************** */

section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 3%;
    width: 75%;
    text-align: center;
}

form{
    width: 500px;
    height: auto;
    margin-top: 70px;
}

form h1{
    color: #44566c;
    font-size: 4rem;

}

form h1 span{
    color: #4b8ca3;
}

.hr{
    height: 1px;
    width: 60%;
    background-color: #44566c;
    margin: auto;
}

aside{
    margin: 30px;
}

input{
    outline: none;
    border: none;
}

.aside-first{
    margin-top: 50px;
}

::placeholder, i{
    color: grey;
}

i{
    margin-right: 20px;
}

button{
    margin-top: 20px;
    border: 1px solid #4b8ca3;
    background: none;
    padding: 10px 30px;
    border-radius: 2px;
    color: #4b8ca3;
    cursor: pointer;
    transition: .4s;
    text-transform: uppercase;
}

button:hover{
    background:#4b8ca3; ;
    color: white;
    transition: .4s;
}

section img{
    height: 600px;
}

#status{
    padding: 10px;
    border-radius: 8px;
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

#status.success{
    background-color: rgb(211,250,153);
}

#status.error{
    background-color: rgb(250,129, 92 );
    color: white;
}

.box {
    display: flex;
    bottom: 5px;
    left: 5px;
    position: absolute;
}
  
#checkbox {
    width: 55px;
    height: 55px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    background: #4b8ca3;
    position: relative;
}

#checkbox:hover {
    background: #44566c;
}

#checkbox::before {
    content: '\f1e0';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'font awesome 5 free';
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    transition: all 1.5s;
}

#checkbox:checked::before {
    content: '\f00d';
}

#checkbox:checked ~ .menu {
    width: 264px; /* 4 * 65 + 4 * 1 pour la bordure */
}

.menu {
    width: 0;
     display: flex;
    overflow: hidden;
    transition: all .5s;
}

.menu .menuItems {
    width: 55px;
    height: 55px;
    background: #4b8ca3;
    border-left: 1px solid rgb(165, 165, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .menuItems:hover {
    background: #44566c;
}

.menu .menuItems i {
    font-size: 1.8rem;
    color: white;
    margin-left: 18px;
}

/* **********************************************************************REPONSIVE******************************************************* */

@media (max-width:1300px){

    section{
        padding-top: 0%;
        width: 90%;
    }
}

@media (max-width:1000px){

    section img{
        margin-top: 90px;
        width: initial;
        height: 400px;
    }
}

@media (max-width:800px){
    section img{
        display: none;
    }

    form{
        height: 410px;
        margin: auto;
        margin-top: 40px;
    }
}


@media (max-width:500px){

    .box {
        margin-top:100px
      }
}

@media screen and (min-height:850px) and (max-width:1300px){
    section{
        transform: translate(0,20%);
    }

    .box {
        margin-top: 100px;
    }
}

@media (max-height:630px){
    .box{
        display: none;
    }
}